html body{
    background-color: rgb(37, 37, 43);
    text-align: center;
}
.black-box {
    border-width: thin;
    border-color: black;
    border-style: solid;
}
canvas {
    visibility: hidden;
}
.certificate_grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;  
}

#unsuccessful_generate {
    visibility: hidden;
}